<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
        
        
        <section layout:fragment="contents" class="contents d-flex justify-content-center">
			<div class="border border-info user-box my-5 p-5 rounded-lg">
				<h1 class="text-center">회원가입</h1>
				<span class="text-secondary">악기거래, 음악일상공유, 악보검색, 밴드구인을 한번에!</span>
				<div class="d-flex">
					<input id="loginIdInput" type="text" class="form-control mt-4 col-9" placeholder="아이디">
					<button id="dupBtn" type="button" class="btn btn-danger btn-block dubBtn mt-4 ml-1">중복확인</button>
				</div>
				<div id="availableText" class="small text-success d-none">사용가능한 아이디입니다.</div>
				<div id="duplicateText" class="small text-danger d-none">중복된 아이디입니다.</div>
				
				<input id="passwordInput" type="password" class="form-control mt-2" placeholder="비밀번호">
				<input id="passwordConfirmInput" type="password" class="form-control mt-2" placeholder="비밀번호 확인">
				<input id="phoneNumberInput" type="text" class="form-control mt-2" placeholder="전화번호">
				<input id="nicknameInput" type="text" class="form-control mt-2" placeholder="닉네임">
				<input id="emailInput" type="text" class="form-control mt-2" placeholder="이메일">
				<button id="joinBtn" type="button" class="btn btn-success btn-block mt-3">가입</button>
				<div class="mt-4 d-flex justify-content-center">
					<span>계정이 있으신가요?</span>
					<a href="/user/login-view" class="ml-4">로그인</a>
				</div>
			</div>
		</section>
		
		
		
		<script layout:fragment="script">
		
			$(function(){
				
				//중복 검사 여부
        		val = isDuplicateCheck = false;
        		val = isDuplicateId = true;
        		
        		$("#loginIdInput").on("input", function(){
        			//중복확인 관련 값 초기화
        			isDuplicateCheck = false;
        			isDuplicateId = true;
        			
        			$("#availableText").addClass("d-none");
        			$("#duplicateText").addClass("d-none");
        		});
        		
        		
        		$("#dupBtn").on("click",function(){
        			let loginId = $("#loginIdInput").val();
        			if(loginId == ""){
        				alert("아이디를 입력하세요");
        				return;
        			}
        			
        			
        			$.ajax({
        				type:`get`
        				,url:"/user/duplicate-id"
        				,data:{"loginId":loginId}
        				,success:function(response){
        				
        					isDuplicateCheck = true;
        					
        					isDuplicateId = response.result;
        					
    					if(response.result){
    						
    						$("#duplicateText").removeClass("d-none");
    						$("#availableText").addClass("d-none");
    						
    					}
    					else{
    						$("#availableText").removeClass("d-none");
    						$("#duplicateText").addClass("d-none");
    					}
    				}
    				,error:function(){
    					alert("중복확인 에러");
    				}
        				
        			});
        			
        		});
				
				
				
				
				$("#joinBtn").on("click", function(){
					let loginId = $("#loginIdInput").val();
					let password = $("#passwordInput").val();
					let passwordConfirm = $("#passwordConfirmInput").val();
					let phoneNumber = $("#phoneNumberInput").val();
					let nickname = $("#nicknameInput").val();
					let email = $("#emailInput").val();
					
					if(!isDuplicateCheck){
        				alert("중복검사를 해주세요");
        				return;
        			}
        			//아이디가 중복될 경우
        			if(isDuplicateId){
        				alert("아이디가 중복되었습니다.");
        				return;
        			}
					if(loginId == ""){
						alert("아이디를 입력하세요.");
						return ;
					}
					if(password == ""){
						alert("비밀번호를 입력하세요");
						return ;
					}
					if(passwordConfirm == ""){
						alert("비밀번호를 재입력하세요");
						return ;
					}
					if(password != passwordConfirm){
						alert("비밀번호가 같지 않습니다.");
						return ;
					}
					if(phoneNumber == ""){
						alert("전화번호를 입력하세요.");
						return ;
					}
					if(nickname == ""){
						alert("낙네임을 입력하세요.");
						return ;
					}
					if(email == ""){
						alert("이메일을 입력하세요.");
						return ;
					}
					
					console.log("아이디 : " + loginId + " 비밀번호 : " + password
							+ " 전화번호 : " + phoneNumber + " 닉네임 : " + nickname + " 이메일 : " + email);
					
					
					$.ajax({
						type:`post`
						,url:"user/join"
						,data:{"loginId":loginId, "password":password, "phoneNumber": phoneNumber, "nickname":nickname, "email":email}
						,success(response){
							if(response.result == "success"){
								alert("회원가입 되었습니다.");
								location.href = "/user/login-view";
							}
							else{
								alert("회원가입 실패");
							}
						}
						,error(){
							alert("회원가입 에러");
						}
					});
					
					
					
				});
				
			});
		
		
		</script>
		
        
        
        
        
        
</html>