<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
        
        
        <section layout:fragment="contents" class="contents d-flex justify-content-center">
        	
			<div class="border border-info user-box my-5 p-5 rounded-lg ">
				<h1 class="text-center">로그인</h1>
				<span class="text-secondary">악기거래, 음악일상공유, 악보검색, 밴드구인을 한번에!</span>
				<form id="loginForm"> <!--  페이지 새로고침 없이 요청이 들어가야됌 -->
					<input id="loginIdInput" type="text" class="form-control mt-4" placeholder="아이디">
					<input id="passwordInput" type="password" class="form-control mt-2" placeholder="비밀번호">
					<button id="loginBtn" type="submit" class="btn btn-danger btn-block mt-3">로그인</button>
					
						
						<button id="kakaoLogin" type="button" class="btn btn-warning btn-block mt-3">카카오로그인</button>
						<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
						
					
					<div class="text-center mt-4">
						<span class="mr-2">계정이 없으신가요?</span>
						<a href="/user/join-view">회원가입</a><br><br>
						<span>또는</span>
						<a href="/user/kakaoJoin-view" class="text-warning">카카오 회원가입</a>
					</div>
				</form>
			</div>
        </section>

      
       	 
         <script layout:fragment="script">
        	
        	$(function(){
        		window.Kakao.init("8e21d39e384fd47832f19c8f5c977cb2");
        		
        		
        		$("#kakaoLogin").on("click", function () {
        		    window.Kakao.Auth.logout(function () {
        		        console.log("카카오 세션 로그아웃 완료");

        		        window.Kakao.Auth.login({
        		            scope: 'profile_nickname',
        		            success: function (authObj) {
        		                console.log(authObj);
        		                window.Kakao.API.request({
        		                    url: '/v2/user/me',
        		                    success: res => {
        		                        const kakaoId = res.id;
        		                        const nickname = res.kakao_account.profile.nickname;
        		                        const accessToken = authObj.access_token;
        		                        console.log("카카오아이디 : " + kakaoId + " 닉네임 : " + nickname + " 토큰 : " + accessToken);
										
        		                        
        		                        
        		                        
        		                        $.ajax({
        		                            type: `post`,
        		                            url: "/user/kakaoLogin",
        		                            data: {"kakaoId": kakaoId},
        		                            success(responce) {
        		                                if (responce.result == "success") {
        		                                    location.href = "/main-view";
        		                                } else {
        		                                    alert("계정이 없습니다.");
        		                                    location.href = "/user/kakaoJoin-view";
        		                                }
        		                            },
        		                            error() {
        		                                alert("카카오 로그인 에러");
        		                            }
        		                        });
        		                    }
        		                });
        		            }
        		        });
        		    });
        		});
        		
        		
        		
        		
		
        		$("#loginForm").on("submit", function(e){
        			
        		
    				
					//form테그의 원래 기능 제거하고 엔터기능만
					e.preventDefault();
        			
        			let loginId = $("#loginIdInput").val();
        			let password = $("#passwordInput").val();
        			
        			if(loginId == ""){
        				alert("아이디를 입력하세요.");
        				return ;
        			}
        			if(password == ""){
        				alert("비밀번호를 입력하세요.");
        				return ;
        			}
        			
        			console.log("아이디 : " + loginId + " 비밀번호 : " +password);
        			
        			
        			$.ajax({
        				type:`post`
        				,url:"/user/login"
        				,data:{"loginId":loginId, "password":password}
        				,success(response){
        					if(response.result == "success"){
        						location.href = "/main-view";
        					}
        					else{
        						alert("아이디 또는 비밀번호를 확인하세요.");
        					}
        				}
        				,error(){
        					alert("로그인 에러");
        				}
        			});
        			
        		});
        	});
        </script>
        
        
        
        
        
        
        
        
        
        
        
  </html>      
        
        