<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>코드네컷</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/stylesheet.css">
</head>
<body>

<section class="buyMain d-flex justify-content-center">
  <div class="border border-secondary user-box my-4 p-4 rounded shadow-lg bg-dark">
    <header class="navbar navbar-expand-lg navbar-light bg-warning rounded mb-4 shadow-sm" style="width: 900px;">
				  <div class="container-fluid d-flex justify-content-between align-items-center">
				
				 
				    <button id="backBtn" class="btn btn-outline-dark d-flex align-items-center">
				      <i class="bi bi-arrow-left-short" style="font-size: 1.5rem;"></i>
				    </button>
				
				  
				    <h3 class="mx-auto mb-0 font-weight-bold text-dark text-center">
				      국내 최고의 악기거래 플랫폼입니다.
				    </h3>
				
				   
				    <div class="text-right">
				      <div th:if="${session.userId != null}" class="mb-1">
				        <span th:text="${session.nickname}" class="text-dark font-weight-bold"></span>
				        <span class="text-dark">님</span>
				      </div>
				      <a th:if="${session.userId != null}" id="logoutBtn" href="#" class="btn btn-sm btn-dark">로그아웃</a>
				      <a th:unless="${session.userId != null}" href="/user/login-view" class="btn btn-sm btn-outline-dark">로그인</a>
				    </div>
				
				  </div>
				</header>

    <div class="border border-light rounded-lg p-3 my-3 mt-5 bg-secondary text-white" th:each="buyCard:${myBuyCardList}">
      <div class="d-flex ">
        <div>
          <span th:text="${buyCard.nickname}" class="font-weight-bold text-white" style="font-size: 1.5rem;">닉네임</span>
          <span th:text="${buyCard.description}" class="ml-3 text-light" style="font-size: 1rem;">설명</span>
        </div>
        <div class="buyMoreMenu pr-3">
          <ul class="navi">
            <li><a href="#" class="text-white">더보기</a>
              <ul class="submenu">
                <li><a th:href="|/buy/modify-view?id=${buyCard.buyId}|">수정하기</a></li>
                <li><a class="deleteBtn" th:data-buy-id="${buyCard.buyId}" href="#">삭제하기</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      
      

      <main class="d-flex align-items-center mt-3">
						<article class="buyImg">
							<img th:src="${buyCard.imgPath}">
						</article>
							<div class="buyInfo p-4 bg-dark text-light rounded shadow border border-secondary">
							  <p class="mb-2 border-bottom pb-1">
							    <i class="bi bi-guitar text-warning"></i>
							    <strong class="text-white">모델명</strong> : 
							    <span class="text-info font-weight-bold" th:text="${buyCard.model}">Fender</span>
							  </p>
							  <p class="mb-2 border-bottom pb-1">
							    <i class="bi bi-calendar text-warning"></i>
							    <strong class="text-white">구입연도</strong> : 
							    <span class="text-light font-weight-bold" th:text="${buyCard.buyYear}">2015년</span>
							  </p>
							  <p class="mb-2 border-bottom pb-1">
							    <i class="bi bi-cash-coin text-warning"></i>
							    <strong class="text-white">가격</strong> : 
							    <span class="text-success font-weight-bold" th:text="${buyCard.price}">100</span>만원
							  </p>
							  <p class="mb-2 border-bottom pb-1">
							    <i class="bi bi-box-seam text-warning"></i>
							    <strong class="text-white">판매상태</strong> : 
							    <span th:if="${buyCard.status == '판매중'}" class="text-danger font-weight-bold" th:text="${buyCard.status}">판매중</span>
							    <span th:unless="${buyCard.status == '판매중'}" class="text-success font-weight-bold" th:text="${buyCard.status}">판매완료</span>
							  </p>
							  
							</div>	
				</main>
    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>

<script>
  $(function () {
	  
	  
	  
	  
	  
	  
    $("#logoutBtn").on("click", function () {
      if (confirm("로그아웃 하겠습니까?")) {
        location.href = "/user/logout";
      }
    });

    $('.navi>li').mouseover(function () {
      $(this).find('.submenu').stop().slideDown(500);
    }).mouseout(function () {
      $(this).find('.submenu').stop().slideUp(500);
    });

    $(".deleteBtn").on("click", function () {
      let buyId = $(this).data("buy-id");
      if (confirm("게시물을 삭제 하시겠습니까?")) {
        $.ajax({
          type: "delete",
          url: "/buy/deleteProfile",
          data: { "buyId": buyId },
          success(response) {
            if (response.result === "success") {
              alert("삭제 완료되었습니다.");
              location.reload();
            } else {
              alert("삭제 실패");
            }
          },
          error() {
            alert("삭제 에러");
          }
        });
      }
    });
  });

  $("#backBtn").on("click", function () {
    location.href = "/buy/buy-view";
  });
</script>

</body>
</html>